html{
    background-color : blue;  
    font-family: Arial;
    color: white;                          
}

input[type=submit]{
    width: 7%;
    margin-left: 1%;
    box-shadow: 1px 1px 1px purple;
    cursor: pointer;
}